In [1]:
import pandas as pd

In [2]:
columns1 = ['ep','time', 'elapsed','x-axis','y-axis', 'z-axis']
columns2 = ['ep1','time1', 'elapsed1','x-axis_g','y-axis_g', 'z-axis_g']

In [3]:
df1 = pd.read_csv('Rajneesh_test_Accelerometer.csv', header = None, names = columns1)
df2 = pd.read_csv('Rajneesh_test_Gyroscope.csv', header = None, names = columns2)

In [6]:
df_test = pd.concat([df1,df2], axis =1)
del df_test['ep']
#del df_test['time']
del df_test['elapsed']
del df_test['ep1']
del df_test['time1']
del df_test['elapsed1']
df_test = df_test.iloc[1:]
df_test['activity'] = 1
df_test.head()

,time,x-axis,y-axis,z-axis,x-axis_g,y-axis_g,z-axis_g,activity
1,2019-09-12T02:35:31.884,-0.856,-0.124,0.454,-25.915,28.415,5.183,1
2,2019-09-12T02:35:31.884,-0.855,-0.126,0.450,-23.354,28.171,6.402,1
3,2019-09-12T02:35:31.884,-0.863,-0.126,0.440,-20.854,26.280,6.951,1
4,2019-09-12T02:35:31.953,-0.867,-0.131,0.437,-19.756,23.232,6.341,1
5,2019-09-12T02:35:31.953,-0.854,-0.139,0.437,-18.171,20.427,5.366,1

In [7]:
df_test.to_csv(r'test_raj_time.csv', header=False, index = False)